{% extends 'layouts/application.html' %}

{% block title %} Ebba Zingmark {% endblock %}

{% block content %}
  
  <section class="single project">
    <div class="container">
      <div class="column full">
        <article>
          <header>
            <div class="inner">
              <h1 class="glitch-text" data-module="glitch" data-text="Ebba Zingmark">Ebba Zingmark</h1>
            </div>
          </header>
          <div class="entry-content">
            {{ image('ebba-zingmark-2.jpg', 'ebba zingmark') }}
          </div>
        </article>
      </div>
    </div>
  </section>

{% endblock %}
