{% extends 'layouts/application.html' %}

{% block title %} About {% endblock %}  
{% block description %}{% endblock %}

{% block content %}
  
  <section class="page page--about">
    <div class="container">
      <div class="column full">
        <article>
          <header>
            <h1>My name is Alexander. I am a 25 year old designer & front-end developer from Stockholm, Sweden. I spend most of my time creating pixel perfect user experiences, thoughtful UX/UI design and development of company websites, blogs and all kind of web applications.</h1>
            <ul>
              <li><a href="mailto:info@alexanderalmstrom.com">info@alexanderalmstrom.com</a></li>
              <li><a href="tel:+46763395288">+46 (0) 76 339 52 88</a></li>
            </ul>
          </header>
        </article>
      </div>
    </div>
  </section>

{% endblock %}
