{% extends 'layouts/application.html' %}

{% block title %} Livestage TV {% endblock %}

{% block content %}
  
  <section class="single project">
    <div class="container">
      <div class="column full">
        <article>
          <header>
            <h1 class="glitch-text" data-text="Livestage TV">LivestageTV</h1>
          </header>
          <div class="entry-content">
            {{ image('livestage-tv-2.jpg', 'livestage tv') }}
          </div>
        </article>
      </div>
    </div>
  </section>

{% endblock %}
