{% extends 'layouts/application.html' %}

{% block title %} IvyRevel {% endblock %}  

{% block content %}
  
  <section class="single project">
    <div class="container">
      <div class="column full">
        <article>
          <header>
            <h1 class="glitch-text" data-module="glitch" data-text="IvyRevel">IvyRevel</h1>
          </header>
          <div class="entry-content">
            {{ image('ivyrevel-2.jpg', 'ivyrevel') }}
            {{ image('ivyrevel-3.jpg', 'ivyrevel') }}
            {{ image('ivyrevel-4.jpg', 'ivyrevel') }}
          </div>
        </article>
      </div>
    </div>
  </section>

{% endblock %}
