* {
  box-sizing: border-box;
}

body {
  background-color: $background-color;
}

img {
  height: auto;
  width: auto;
  max-width: 100%;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  line-height: 1.5;
}

p {
  margin: em(15px) 0;
  line-height: 1.5;
}

a {
  color: $link-color;
  outline: none;
  text-decoration: none;

  &:active,
  &:visited {
    text-decoration: none;
  } 
  
  &:hover,
  &:focus {
    text-decoration: line-through;
    color: darken($link-color, 20%);
  } 
}

.container {
  max-width: em(1280px);
  margin-left: auto;
  margin-right: auto;
  padding-left: em(30px);
  padding-right: em(30px);
  @include clearfix;

  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.column {
  float: left;
}

.full {
  width: 100%;
}

.half {
  width: 50%;
}


#main {
  padding-top: em(150px);

  @media #{$medium-up} {
    padding-left: em(100px);
    padding-right: em(100px);
  }
}

.glitch-text {
  @include textGlitch("glitch-text", 20, $font-color, $background-color, 9999, 100);
}