.page {
  header {
    
  }
}

.page--about {
  header {
    h1 {
      font-size: em(28px);

      @media #{$medium-up} {
        font-size: em(36px);
      }

      @media #{$large-up} {
        font-size: em(56px);
      }
    }

    ul {
      @media #{$large-up} {
        font-size: 2em;
      }
    }
  }
}