.single {
  header {
    margin-bottom: em(50px);

    @media #{$medium-up} {
      margin-bottom: em(75px);
    }

    @media #{$large-up} {
      margin-bottom: em(100px);
    }

    h1 {
      text-align: center;
      
      @media #{$medium-up} {
        font-size: em(48px);
      }

      @media #{$large-up} {
        font-size: em(72px);
      }
    }
  }

  img {
    display: block;
    width: 100%;
    margin-bottom: em(100px);
  }
}

.single.project {
  ul {
    li {
      margin-bottom: em(10px);

      strong {
        display: block;
      }
    }
  }
}